header {
    background: url('../assets/images/first.png') no-repeat center / cover;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
}

.first-section, .first-title {
    text-align: center;
    justify-content: center;
}

.first-title h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 2.75px;
    color: white;
}

.second-content {
    display: flex;
    justify-content: flex-end;
}

.second-photo img {
    width: 600px;
}

td {
    font-size: 20px;
    padding: 10px;
}

.orange {
    background-color: #F58326;
}

.second-photo {
    flex-wrap: wrap;
}

.second-box {
    display: flex;
    flex-wrap: wrap;
}

.second-section {
    display: flex;
}

.second-text-content {
    margin-left: 30px;
}

.second-text-content p span, .four-content-1 h2 span, .six-text p span {
    color: #ff7802;
}

.second-box {
    display: flex;
    margin-left: 30px;
}

.second-text-devel {
    margin-top: 0;
    margin-left: 20px;
}

.second-section p {
    color: #5c5b5b;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.7px;
}

.second-box2 p {
    margin: 0;
    align-items: center;
    justify-content: center;
}

.third-title h2, .five-title h2 {
    color: #5c5b5b;
    letter-spacing: 1.5px;
    font-size: 60px;
    font-weight: 400;
}

.third-content-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.third-box {
    background: #f7f7f9;
    width: 32%;
    height: 500px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-box p {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #5c5b5b;
}

.four-section {
    background: #474545;
}

.four-content-1 h2 {
    font-size: 41px;
    font-weight: 600;
    line-height: 0.61;
    letter-spacing: 1.2px;
    color: #ffffff;
}

.four-content-1 img {
    padding: 50px 0;
}

.four-content-2 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.four-content {
    display: flex;
    justify-content: flex-end;
}

.four-content-1 {
    margin-top: 50px;
    margin-right: 80px;
}

.four-text-content {
    color: white;
}

.four-box {
    display: flex;
    margin-left: 30px;
}

.four-text-content {
    margin: 0 0 0 20px;

}

.four-text-content p {
    color: white;
}

.four-section p {
    color: white;
    letter-spacing: .7px;
    font: 20px / 1.33 "Raleway", sans-serif;
}

.five-slider {
    display: flex;
    justify-content: center;
    position: relative;
}

.five-slider img {
    width: 1000px;
    height: 700px;
    justify-content: center;
    padding: 90px 0;
}

.arrowL img {
    position: absolute;
    left: 80px;
    top: calc(59% - 6.5px);
}

.arrowR img {
    position: absolute;
    right: 80px;
    top: calc(59% - 6.5px);
}

.six-input {
    justify-content: center;
    text-align: center;
}

.six-input input button {
    padding: 20px 0;
}

.six-input input {
    width: 260px;
    border: none;
    border-bottom: 1px solid #a8a7a7;
    color: #5c5b5b;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 50px;
}

.six-input button {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 5.1px 0.9px rgba(0, 0, 0, 0.3);
    background-color: #ff7802;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.six-text p {
    font-size: 24px;
    line-height: 36px;
    color: #5c5b5b;
    text-align: center;
}
/*//////////////////////////////////*/
